/* font exsternal */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap");

/* reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: white;
  --background: black;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--primary);
}

/* navbar */
header {
  width: 100%;
  background-color: var(--primary);
}

nav {
  display: flex;
  height: 60px;
  align-items: center;
  color: var(--background);
  width: 1000px;
  margin: 0 auto;
  padding: 0px 50px;
  font-family: "Pacifico", cursive;
  font-size: 20px;
}

/* form */
.title {
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 50px;
}
form {
  position: relative;
  max-width: 90%;
  padding: 40px 30px 30px;
  margin: 0 auto;
  border: 2px solid var(--primary);
  display: flex;
  flex-direction: column;
  border-radius: 20;
  box-sizing: border-box;
  transition: all 0.3s;
}

form > p {
  text-align: right;
  position: absolute;
  top: 10px;
  right: 40px;
  color: yellow;
}
input,
textarea {
  padding: 7px 12px;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: inherit;
  background: var(--primary);
  border-style: none;
  outline: none;
  border-bottom: solid var(--primary) 5px;
}
input:focus,
textarea:focus {
  border-style: none;
  outline: none;
  border-bottom: solid yellow 5px;
}
.input-filter {
  margin: 0 auto;
  max-width: 1000px;
  margin: 30px auto;
}
.input-filter > p {
  font-family: "Pacifico", cursive;
  font-size: 30px;
}
.input-filter > input {
  width: 100%;
  font-size: 25px;
}

/* note card */
section {
  margin: 0 auto;
  max-width: 1000px;
  margin: 30px auto;
  padding: 0px 0 50px;
  font-size: 20px;
}
.notes-list {
  position: relative;
  display: flex;
  padding: 20px 0;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid gray;
  width: 310px;
  height: min-content;
  margin: 10px;
}
.card-content {
  padding: 7px;
}
p.note-date {
  font-size: 0.8em;
  color: rgb(178, 178, 182);
}
article {
  font-size: 0.8em;
  width: 100%;
  overflow-y: auto;
  word-break: break-all;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding: 5px 0;
  margin: 5px 0 0 0;
  border-top: 1px dashed gray;
}
.card-btn {
  display: flex;
  justify-content: space-around;
}

button {
  width: 100%;
  border: 1px solid gray;
  padding: 5px;
  color: var(--primary);
  font-family: "Poppins", sans-serif;
}
button.btn-form {
  background-color: rgba(0, 0, 255, 0.6);
  border-radius: 5px;
  font-size: 20px;
}
button.delete {
  background-color: rgba(255, 0, 0, 0.6);
}
button.archive {
  background-color: rgba(0, 128, 0, 0.6);
}
button:hover {
  background-color: rgba(255, 254, 254, 0.9);
  color: var(--background);
  cursor: pointer;
}

p {
  padding: 0 0 5px 0;
}
p.note-alert {
  padding: 30px;
  width: 100%;
  font-size: 1.3em;
  text-align: center;
}
